.post {
    margin: 0 auto;
    padding: 10px;
    max-width: 350px;
    border:2px solid darkslategray;
    border-radius: 0.25rem;
}
.skeleton {
    background-color: rgb(199, 199, 199);
    margin: 0.75rem 0;
    border-radius: 0.25rem;
}
.skeleton-title{
    height: 1.25rem;
    margin-bottom: 1.2rem;
}
.skeleton-text{
    height: 1.25rem;
}
.skeleton.width-300 {
    /* max-width: 300px; */
    width: 100%;
}

.skeleton.width-50 {
    width: 50%;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* animation */
@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}